b > a{
    font-family: ProductSans-Bold;
}
html{
    box-sizing: border-box;
    background: url("/img/Mask Group_Background_Header.png") no-repeat;
    background-position-x: 10px;
}*, *::before, *::after{
    box-sizing: inherit;
 }

/*.nav-container{*/
/*    margin-top: 50px;*/
/*}*/
.page-header{
    width: 91%;
    margin-top: 50px;
}
.active a{
    color: black;
}
.active{
    margin: 0 28px;
}