/*.header*/
/*{*/
/*    background: blue;*/
/*    width: 95%;*/
/*    height: 200px;*/
/*    margin-top: auto;*/
/*}*/
/*.menu*/
/*{*/
/*    background: brown;*/
/*    width: 30%;*/
/*    height: 150px;*/
/*    margin-top: 20px;*/
/*    margin-right: 20px;*/
/*}*/
/*.content{*/
/*    background: blueviolet;*/
/*    width: 65%;*/
/*    height: 150px;*/
/*}*/
html{
    background: url("/img/Mask Group_Background_Header.png") no-repeat;
    background-position-x: 10px;

}

/*.nav-container{*/
/*    margin-top: 50px;*/
/*}*/
.page-header{
    width: 91%;
    margin-top: 50px;
}
.active a{
    color: black;
}
.active{
    margin: 0 28px;
}